.App {
  text-align: left;
  max-width: 80rem;  
  margin: 1rem;  
  border: 3px solid rgb(114, 75, 151);
  height: 50rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-child-left{  
  width:15rem;
  padding: 5px 5px 5px 5px;
  background: #fff;
  border: 3px solid rgb(201, 22, 22);
  border-radius: 6px;
  float: left;
}

.float-child-right{
  width:20rem;
  padding: 5px 5px 5px 5px;
  background: #fff;
  border: 3px solid rgb(201, 22, 22);
  border-radius: 6px;
  float: left;
}
select {
  margin: 10px;
  width: 150px;
  padding: 5px 10px 5px 5px;
  font-size: 12px;
  border: 1px solid #CCC;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  background: url(icon.ico) 98% / 10% no-repeat #EEE;
}

button {  
  margin: 10px;
  width: 90px;
  padding: 5px 10px 20px 5px;
  font-size: 12px;
  border: 3px solid #CCC;
  height: 0px; 
  appearance: none;
  background: #EEE;
  float: left;
}

label{ 
  font-size: small;
  padding: 1px 5px 3px 15px;
  background: #fff;
  border-radius: none;
  position: relative;
  float: left;
}

button:hover{background-color:rgb(155, 161, 177);}

button:focus{background-color:rgb(164, 219, 157);}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  content:"";
  display: flex;
  clear: both;
}

.grid_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}